body{
  background-color: black;
}

.game {
  width: 700px;
  height: 400px;
  background-image: url("./img/background.png");
  background-size: cover;
  border-radius: 20px;
  margin: 30px auto;
  text-align: center;
  padding: 5px;
}

.game button {
  background-color: bisque;
  font-size: large;
  width: 40px;
  height: 40px;
  border-radius: 7px;
  border: 3px solid black;
} 

.play-time {
  display: block;
  margin: 7px auto;
  background-color: whitesmoke;
  width: 100px;
  height: 30px;
  line-height: 30px;
  border: 3px solid black;
  border-radius: 7px;
  font-size: large;
}

.carrot-count {
  margin: 7px auto;
  background-color: lightsalmon;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  font-size: xx-large;
  color: white;
  border: 3px solid black;
}

.play {
  margin: auto;
  width: 95%;
  height: 185px;
  position: relative;
  top: 70px;
  border-radius: 20px;
}

.play .carrot-img {
  width: 40px;
  height: 40px;
  position: absolute;
}

.play .bug-img {
  width: 30px;
  height: 30px;
  position: absolute;
}

.result {
  position: absolute;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  top: 300px;
  left: 260px;
  width: 250px;
  height: 80px;
  border-radius: 20px;
  padding-top: 20px;
}

.result-content {
  color: white;
  font-size: x-large;
  padding-top: 5px;
}

.click-able {
  cursor: pointer;
  pointer-events: auto;
}

.click-disable {
  pointer-events: none;
}

